@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-slide: slide 40s linear infinite;

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@utility gradient-rainbow {
  background: linear-gradient(90deg,rgba(255, 119, 28, 1) 0%, rgba(255, 28, 28, 1) 20%, rgba(237, 83, 150, 1) 40%, rgba(87, 91, 199, 1) 60%, rgba(59, 255, 98, 1) 100%, rgba(41, 255, 244, 1) 80%);
}

#main-button::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: -2px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background-image: linear-gradient(75deg, #ff221e 0%, #0400ff 80%,#7212ae 100%);
  filter: blur(6px);
  border-radius:9999px;
  opacity: 0.4;
}